div figure a{
    width: 100%;
}
.heigh-descripcion{
    height: 15em;
}
.heigh-title{
    height: 5em;
}
.width-figure{
    width: 30%;
    margin:1px;
}
.height--img{
    height: 15em;
    object-fit: cover;
}