.grid-body{
    display: grid;
    grid-template-columns: 20% 80% ;
    grid-template-rows:150px 80% 10%;
    grid-template-areas: 
    "nav nav"
    "sidebar main"
    "footer footer";
}
.nav{
    grid-area: nav;
}
.sidebar{
    grid-area: sidebar;
    background-color: rgb(255, 255, 255);
    color:black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 30px;
    border-right: solid black;
    border-width: 0.1px;
}
.sidebar div{
    padding:3px;
    margin:3px;
    text-decoration: none;
}
.main{
    grid-area: main;
}
.footer{
    grid-area: footer;
}