$mainColor:rgb(8, 8, 63);
$secundaryColor: white;
$keyColor:rgb(29, 29, 29);

$mainFont: 'Roboto', sans-serif;
$secondaryFont: verdana, sans-serif;

$textSm:0.8em;
$textMd:1em;
$textLg:1.6em;
$tentXl:2em;

$textBold:600;
$textLight:300;
$textRegular:400;
